.pagination-controlled {
  display: flex;
  justify-content: space-between;
}

.pagination-controlled__wrapper {
  width: 70%;
}

@media (max-width: 900px) {
  .pagination-controlled {
    flex-direction: column-reverse;
  }

  .pagination-controlled__wrapper {
    width: 100%;
  }
}
