.select {
  width: 100%;
}

.MuiSelect-select {
  padding: 10px 20px;
}

.MuiInput-underline::after {
  border-bottom: 2px solid #e05927 !important;

  &:focus {
    border-bottom: 1px solid #e05927 !important;
  }
}

.MuiInput-underline::before {
  &:focus {
    border-bottom: 1px solid #e05927 !important;
  }
}

.MuiFormLabel-root.Mui-focused {
  color: #111 !important;
}
