.footer {
  background-color: #e0e0e0;
  margin-top: 120px;
  padding: 25px 0;
}

.footer__item {
  width: 33%;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__subscribe {
  color: #1c1c1c;
  text-align: center;
}

.footer__support {
  color: #1c1c1c;
  text-align: right;
}
