.footer {
  background-color: #e0e0e0;
  margin-top: 120px;
  padding: 25px 0;
}

.footer__item {
  width: 33%;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 900px) {
    width: 100%;
    flex-wrap: wrap;
  }
}

.footer__subscribe {
  color: #1c1c1c;
  text-align: center;

  @media (max-width: 900px) {
    margin: 30px 0;
  }
}

.footer__support {
  color: #1c1c1c;
  text-align: right;

  @media (max-width: 900px) {
    text-align: center;
  }
}

.footer__logo {
  @media (max-width: 900px) {
    text-align: center;
  }
}
