.App {
  height: 100vh;
  position: relative;
}
.app-wrapper {
  background-image: url(../../images/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  padding-bottom: 10px;
}
