.footer {
  background-color: #e0e0e0;
  margin-top: 120px;
  padding: 25px 0;
}

.footer__item {
  width: 33%;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__links {
  display: flex;
  justify-content: flex-start;
}
.footer__link {
  text-align: center;
}
.footer__subscribe {
  color: #1c1c1c;
  text-align: center;
}

.footer__support {
  display: flex;
  justify-content: flex-end;
  color: #1c1c1c;
  text-align: right;
}

.icon-wrap {
  cursor: pointer;
  text-align: center;
  width: 20%;
}

@media (max-width: 600px) {
  .footer {
    padding: 10px 0;
  }
  .footer__content {
    padding: 0;
    width: 100%;
    flex-direction: column;
    justify-self: center;
  }
  .footer__item {
    width: 100%;
    text-align: center;
  }
  .footer__link {
    margin: 0 auto;
  }
  .footer__subscribe {
    margin: 5px 0 15px;
  }
  .footer__support {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
