.main {
  margin-top: -40px;
}

.main__text {
  color: #fff;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 100px;
  line-height: 1.6;
}

.main__title {
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
}
