.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 100px;
}

.intro__title {
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
}
.intro__text {
  width: 60%;
  color: #fff;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.intro__author {
  color: #dd5927;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 50px;
}

@media (max-width: 900px) {
  .intro__text {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .intro {
    height: 500px;
    padding-top: 130px;
  }

  .intro__text {
    font-size: 16px;
  }

  .intro__title {
    font-size: 18px;
  }
}
