.header {
  padding: 25px 0 0;
  background-color: transparent;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo svg {
  width: 200px;
  height: 50px;
}

@media (max-width: 900px) {
  .header__content {
    justify-content: center;
  }
}
