.header {
  padding: 25px 0 0;
  background-color: transparent;
  margin-bottom: 100px;
  position: relative;
  z-index: 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo svg {
  width: 200px;
  height: 50px;
}

@media (max-width: 600px) {
  .header__content {
    padding: 0;
    justify-content: center;
    margin: 0 auto;
  }
}
