.quote {
  width: 60%;
  margin-bottom: 30px;
  background-color: #fff;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  @media (max-width: 900px) {
    width: 100%;
  }
}

.quote__title {
  margin-top: 20px;
  color: #dd5927;
}

.quote__text {
  color: #1c1c1c;
  font-size: 16px;
  line-height: 1.6;
}
