.header {
  padding: 27px 0 0;
  background-color: transparent;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  svg {
    width: 200px;
    height: 50px;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__item {
  color: #fff;

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.menu__link {
  color: #fff;
  font-size: 16px;
  font-family: "Ubuntu-Regular", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
